<p-dialog header="STOCK BAJO" [modal]="true" [(visible)]="visible" [style]="{ width: '40%' }">
  <div class="cards">
    <div class="card_dasboard_devoluciones" *ngFor="let producto of listaProducto">
      <br>
      <c-widget-stat-a
        [title]="''"
        color="danger"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          <span style="text-align: center; display: block;">{{producto.nombreProducto}}</span>
          <br>
        </ng-template>
      </c-widget-stat-a>
    </div>
  </div>
</p-dialog>
<c-row class="g-4">
  <h1>Compras Mensuales</h1>
</c-row>
<div >
  <div style="display: flex; flex-direction: row; justify-content: space-evenly;
  align-items: center;">
    <div style="width: 30%" *ngFor="let compra of listaCompras">
      <c-widget-stat-a
        [title]="''"
        color="primary"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          <span style="text-align: center; display: block;">{{compra.total}} $</span>
          <br>
          <span style="text-align: center; display: block; font-size: 15px;">{{compra.tipoComprobante}}</span>
          <br>

        </ng-template>

      </c-widget-stat-a>
    </div>
  </div>
</div>

<c-row class="g-4">
  <h1>Ventas Mensuales</h1>
</c-row>
<div >
  <div style="display: flex; flex-direction: row; justify-content: space-evenly;
  align-items: center;">
    <div style="width: 30%" *ngFor="let compra of listaVentas">
      <c-widget-stat-a
        [title]="''"
        color="info"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          <span style="text-align: center; display: block;">{{compra.total}} $</span>
          <br>
          <span style="text-align: center; display: block; font-size: 15px;">{{compra.tipoComprobante}}</span>
          <br>

        </ng-template>

      </c-widget-stat-a>
    </div>
  </div>
</div>

<c-row class="g-4">
  <h1>Devoluciones Mensuales</h1>
</c-row>
<div >
  <div style="display: flex; flex-direction: row; justify-content: space-evenly;
  align-items: center;">
    <div style="width: 30%" *ngFor="let compra of listaDevolucion">
      <c-widget-stat-a
        [title]="''"
        color="danger"
      >
        <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
          <span style="text-align: center; display: block;">{{compra.total}} $</span>
          <br>
          <span style="text-align: center; display: block; font-size: 15px;">{{compra.tipoComprobante}}</span>
          <br>

        </ng-template>

      </c-widget-stat-a>
    </div>
  </div>
</div>

<!--<c-row class="g-4">-->
<!--  <h1>Compras Mensuales</h1>-->
<!--  <c-col sm="6" xl="3">-->
<!--    <c-widget-stat-a-->
<!--      color="primary"-->
<!--      [title]="'Compras'"-->
<!--    >-->
<!--      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>-->
<!--        <span class="fw-normal" style="font-size: 12px;">-->

<!--        </span>-->
<!--      </ng-template>-->
<!--    </c-widget-stat-a>-->
<!--  </c-col>-->

<!--  <c-col sm="6" xl="3">-->
<!--    <c-widget-stat-a-->
<!--      [title]="'Income'"-->
<!--      color="info"-->
<!--    >-->
<!--      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>-->
<!--        <span>$6.200</span>-->
<!--        <span class="fw-normal" style="font-size: 12px;">-->
<!--          (40.9%<svg cIcon name="cilArrowTop" size="sm"></svg>)-->
<!--        </span>-->
<!--      </ng-template>-->
<!--      <ng-template cTemplateId="widgetActionTemplate">-->
<!--        <c-dropdown alignment="end" variant="btn-group">-->
<!--          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">-->
<!--            <svg cIcon name="cilOptions"></svg>-->
<!--          </button>-->

<!--        </c-dropdown>-->
<!--      </ng-template>-->

<!--    </c-widget-stat-a>-->
<!--  </c-col>-->
<!--  <c-col sm="6" xl="3">-->
<!--    <c-widget-stat-a-->
<!--      [title]="'Conversion Rate'"-->
<!--      color="warning"-->
<!--    >-->
<!--      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>-->
<!--        <span>2.49</span>-->
<!--        <span class="fw-normal" style="font-size: 12px;">-->
<!--          (84.7% <svg cIcon name="cilArrowTop" size="sm"></svg>)-->
<!--        </span>-->
<!--      </ng-template>-->
<!--      <ng-template cTemplateId="widgetActionTemplate">-->
<!--        <c-dropdown alignment="end" variant="btn-group">-->
<!--          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">-->
<!--            <svg cIcon name="cilOptions"></svg>-->
<!--          </button>-->

<!--        </c-dropdown>-->
<!--      </ng-template>-->

<!--    </c-widget-stat-a>-->
<!--  </c-col>-->
<!--  <c-col sm="6" xl="3">-->
<!--    <c-widget-stat-a-->
<!--      [title]="'Sessions'"-->
<!--      color="danger"-->
<!--    >-->
<!--      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>-->
<!--        <span>44K</span>-->
<!--        <span class="fw-normal" style="font-size: 12px;">-->
<!--          (-23.6% <svg cIcon name="cilArrowBottom" size="sm"></svg>)-->
<!--        </span>-->
<!--      </ng-template>-->
<!--      <ng-template cTemplateId="widgetActionTemplate">-->
<!--        <c-dropdown alignment="end" variant="btn-group">-->
<!--          <button [caret]="false" cButton cDropdownToggle class="p-0 text-white" color="transparent" aria-label="Open dropdown">-->
<!--            <svg cIcon name="cilOptions"></svg>-->
<!--          </button>-->

<!--        </c-dropdown>-->
<!--      </ng-template>-->

<!--    </c-widget-stat-a>-->
<!--  </c-col>-->
<!--</c-row>-->
