<c-row class="g-4">
  <h1>Ventas Devoluciones</h1>
</c-row>
<div class="chart-container">
  <canvas id="MyChart">{{chart}}</canvas>
</div>

<c-row class="g-4">
  <h1>Compras</h1>
</c-row>
<div style="width: 100%; display: flex; justify-content: center;">
  <div class="chart-container" style="width: 50%">
    <canvas id="ComprobanteChart">{{comprobanteChart}}</canvas>
  </div>
</div>

<c-row class="g-4">
  <h1></h1>
</c-row>
<p-dialog header="STOCK BAJO" [modal]="true" [(visible)]="visible" [style]="{ width: '40%' }">
  <div class="cards">
    <div class="card_dasboard_devoluciones" *ngFor="let producto of listaProducto">
      <br>
      <c-widget-stat-a
        [title]="''"
        color="danger"
      >
        <ng-template cTemplateId="widgetValueTemplate">
          <span style="text-align: center; display: block;">{{producto.nombreProducto}}</span>
          <br>
        </ng-template>
      </c-widget-stat-a>
    </div>
  </div>
</p-dialog>

<c-row class="g-4">
  <h1></h1>
</c-row>

<c-row class="g-4">
  <h1></h1>
</c-row>
