<div class="container text-center">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Nombres</span>
        <input type="text" class="form-control" [(ngModel)]="newProveedor.nombres" placeholder="Nombres" aria-describedby="addon-wrapping" readonly>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Apellidos</span>
        <input type="text" class="form-control" [(ngModel)]="newProveedor.apellidos" placeholder="Apellidos" aria-describedby="addon-wrapping" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Identificación</span>
        <input type="text" class="form-control" [(ngModel)]="newProveedor.identificacion" placeholder="Identificación" aria-describedby="addon-wrapping" readonly>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Mail</span>
        <input type="text" class="form-control" [(ngModel)]="newProveedor.mail" placeholder="Mail" aria-describedby="addon-wrapping" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Teléfono</span>
        <input type="text" class="form-control" [(ngModel)]="newProveedor.telefono" placeholder="Teléfono" aria-describedby="addon-wrapping" readonly>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Dirección</span>
        <input type="text" class="form-control" [(ngModel)]="newProveedor.direccion" placeholder="Dirección" aria-describedby="addon-wrapping" readonly>
      </div>
    </div>
  </div>
  <br>
</div>
